<h1>Edit Author</h1>

<%= form_for(@author) do |f| %>

  <%= f.label      :first_name %>
  <%= f.text_field :first_name %>

  <%= f.label      :last_name %>
  <%= f.text_field :last_name %>

  <%= f.label      :nationality %>
  <%= f.text_field :nationality %>

  <%= f.label        :birth_year %>
  <%= f.number_field :birth_year %>

  <%= f.submit :submit %>

<% end %>